<a href="https://colab.research.google.com/github/jnielsonresearch/crunch-time-analytics/blob/main/Hustle%20Stats%20Research/NBAHustleStats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# install nba package
!pip install nba_api

In [ ]:
# import teams stats endpoint
from nba_api.stats.static import teams

# get_teams returns a list of 30 dictionaries, each an NBA team.
nba_teams = teams.get_teams()
print('Number of teams fetched: {}'.format(len(nba_teams)))
nba_teams[:3]

Number of teams fetched: 30

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Atlanta',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970}]

In [ ]:
# import players stats endpoint
from nba_api.stats.static import players

# get_players returns a list of 4501 dictionaries, each an NBA player.
nba_players = players.get_players()
print('Number of players fetched: {}'.format(len(nba_players)))
nba_players[:3]

Number of players fetched: 4501

[{'id': 76001,
  'full_name': 'Alaa Abdelnaby',
  'first_name': 'Alaa',
  'last_name': 'Abdelnaby',
  'is_active': False},
 {'id': 76002,
  'full_name': 'Zaid Abdul-Aziz',
  'first_name': 'Zaid',
  'last_name': 'Abdul-Aziz',
  'is_active': False},
 {'id': 76003,
  'full_name': 'Kareem Abdul-Jabbar',
  'first_name': 'Kareem',
  'last_name': 'Abdul-Jabbar',
  'is_active': False}]

In [ ]:
# Select the dictionary for the Celtics, which contains their team ID
celtics = [team for team in nba_teams if team['abbreviation'] == 'BOS'][0]
celtics_id = celtics['id']

In [ ]:
from nba_api.stats.endpoints import leaguegamefinder

# Query for games where the Celtics were playing
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=celtics_id)
# The first DataFrame of those returned is what we want.
games = gamefinder.get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42019,1610612738,BOS,Boston Celtics,0041900306,2020-09-27,BOS @ MIA,L,240,113,...,0.800,13,29,42,26,7,2,10,21,-12.0
1,42019,1610612738,BOS,Boston Celtics,0041900305,2020-09-25,BOS vs. MIA,W,238,121,...,0.862,13,37,50,29,7,4,11,23,13.0
2,42019,1610612738,BOS,Boston Celtics,0041900304,2020-09-23,BOS @ MIA,L,239,109,...,0.810,12,34,46,28,3,5,19,24,0.2
3,42019,1610612738,BOS,Boston Celtics,0041900303,2020-09-19,BOS @ MIA,W,240,117,...,0.867,10,40,50,27,8,3,14,29,8.4
4,42019,1610612738,BOS,Boston Celtics,0041900302,2020-09-17,BOS vs. MIA,L,240,101,...,0.792,6,35,41,19,5,3,20,22,-5.0

In [ ]:
games.tail()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
3490,21983,1610612738,BOS,Boston Celtics,0028300052,1983-11-05,BOS @ WAS,W,240,120,...,0.778,5,28,33,36,7,7,16,26,NaN
3491,21983,1610612738,BOS,Boston Celtics,0028300043,1983-11-04,BOS vs. IND,W,240,121,...,0.841,11,34,45,28,8,5,22,26,NaN
3492,21983,1610612738,BOS,Boston Celtics,0028300033,1983-11-02,BOS vs. MIL,W,240,119,...,0.816,14,24,38,26,7,7,18,18,NaN
3493,21983,1610612738,BOS,Boston Celtics,0028300019,1983-10-29,BOS @ CLE,W,240,108,...,0.690,13,31,44,25,12,7,13,22,NaN
3494,21983,1610612738,BOS,Boston Celtics,0028300006,1983-10-28,BOS @ DET,L,240,121,...,0.909,12,35,47,23,9,6,22,38,NaN

In [ ]:
# import nba_api.stat.endpoints hustlestats libraries

from nba_api.stats.endpoints import hustlestatsboxscore
from nba_api.stats.endpoints import leaguehustlestatsplayer
from nba_api.stats.endpoints import leaguehustlestatsteam

In [ ]:
#import dataframe and visualization libraries 
import pandas as pd 
import numpy as np
import plotly.express as px

In [ ]:
box_hustle = hustlestatsboxscore.HustleStatsBoxScore(game_id=games['GAME_ID'][0])
box_hustle.get_data_frames()[0]

      GAME_ID  HUSTLE_STATUS
0  0041900306              1

In [ ]:
player_stats = box_hustle.get_data_frames()[1]
player_stats.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MINUTES,PTS,...,SCREEN_ASSISTS,SCREEN_AST_PTS,OFF_LOOSE_BALLS_RECOVERED,DEF_LOOSE_BALLS_RECOVERED,LOOSE_BALLS_RECOVERED,OFF_BOXOUTS,DEF_BOXOUTS,BOX_OUT_PLAYER_TEAM_REBS,BOX_OUT_PLAYER_REBS,BOX_OUTS
0,0041900306,1610612738,BOS,Boston,1627759,Jaylen Brown,F,,40:21,26,...,0,0,1,2,3,1,1,2,1,2
1,0041900306,1610612738,BOS,Boston,1628369,Jayson Tatum,F,,43:54,24,...,0,0,0,2,2,0,2,1,0,2
2,0041900306,1610612738,BOS,Boston,1628464,Daniel Theis,C,,21:34,6,...,4,9,1,0,1,1,2,3,1,3
3,0041900306,1610612738,BOS,Boston,203935,Marcus Smart,G,,35:42,20,...,0,0,0,0,0,3,0,2,2,3
4,0041900306,1610612738,BOS,Boston,202689,Kemba Walker,G,,35:00,20,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
team_stats = box_hustle.get_data_frames()[2]
team_stats.head()

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,MINUTES,PTS,CONTESTED_SHOTS,CONTESTED_SHOTS_2PT,CONTESTED_SHOTS_3PT,...,SCREEN_ASSISTS,SCREEN_AST_PTS,OFF_LOOSE_BALLS_RECOVERED,DEF_LOOSE_BALLS_RECOVERED,LOOSE_BALLS_RECOVERED,OFF_BOXOUTS,DEF_BOXOUTS,BOX_OUT_PLAYER_TEAM_REBS,BOX_OUT_PLAYER_REBS,BOX_OUTS
0,0041900306,1610612738,Celtics,BOS,Boston,240.000000:00,113,58,38,20,...,6,14,2,4,6,5,6,8,4,11
1,0041900306,1610612748,Heat,MIA,Miami,240.000000:00,125,68,30,38,...,4,10,3,4,7,0,13,11,6,13

In [ ]:
# team hustle stats in the 2019-20 playoffs
team_hustle = leaguehustlestatsteam.LeagueHustleStatsTeam(season_type_all_star = 'Playoffs', season='2019-20')
team_hustle.get_data_frames()[0]

,TEAM_ID,TEAM_NAME,MIN,CONTESTED_SHOTS,CONTESTED_SHOTS_2PT,CONTESTED_SHOTS_3PT,DEFLECTIONS,CHARGES_DRAWN,SCREEN_ASSISTS,SCREEN_AST_PTS,OFF_LOOSE_BALLS_RECOVERED,DEF_LOOSE_BALLS_RECOVERED,LOOSE_BALLS_RECOVERED,PCT_LOOSE_BALLS_RECOVERED_OFF,PCT_LOOSE_BALLS_RECOVERED_DEF,OFF_BOXOUTS,DEF_BOXOUTS,BOX_OUTS,PCT_BOX_OUTS_OFF,PCT_BOX_OUTS_DEF
0,1610612738,Boston Celtics,1662.0,1055,570,485,203,11,156,354,61,61,122,0.500,0.500,36,305,341,0.106,0.894
1,1610612751,Brooklyn Nets,384.0,266,143,123,45,2,19,41,15,9,24,0.625,0.375,2,46,48,0.042,0.958
2,1610612742,Dallas Mavericks,586.0,366,226,140,56,3,69,155,16,19,35,0.457,0.543,9,79,88,0.102,0.898
3,1610612743,Denver Nuggets,1834.0,1073,605,468,259,6,181,409,44,50,94,0.468,0.532,25,249,275,0.091,0.905
4,1610612745,Houston Rockets,1162.0,608,339,269,159,17,65,162,32,39,71,0.451,0.549,14,232,246,0.057,0.943
5,1610612754,Indiana Pacers,384.0,198,109,89,46,2,21,52,14,13,27,0.519,0.481,0,45,45,0.000,1.000
6,1610612746,LA Clippers,1258.0,767,424,343,174,10,117,265,50,45,95,0.526,0.474,12,230,242,0.050,0.950
7,1610612747,Los Angeles Lakers,2016.0,1114,653,461,305,7,107,242,42,72,114,0.368,0.632,61,200,261,0.234,0.766
8,1610612748,Miami Heat,2036.0,1210,655,555,288,7,191,458,66,70,136,0.485,0.515,23,350,373,0.062,0.938
9,1610612749,Milwaukee Bucks,970.0,659,364,295,132,6,44,106,41,28,69,0.594,0.406,8,141,149,0.054,0.946
10,1610612760,Oklahoma City Thunder,682.0,442,191,251,79,6,31,69,25,24,49,0.510,0.490,18,50,68,0.265,0.735
11,1610612753,Orlando Magic,480.0,247,119,128,55,7,59,139,11,16,27,0.407,0.593,2,59,61,0.033,0.967
12,1610612755,Philadelphia 76ers,384.0,200,110,90,30,0,20,43,11,13,24,0.458,0.542,14,72,86,0.163,0.837
13,1610612757,Portland Trail Blazers,480.0,281,164,117,68,1,37,90,14,16,30,0.467,0.533,13,64,77,0.169,0.831
14,1610612761,Toronto Raptors,1076.0,674,342,332,126,10,76,181,42,46,88,0.477,0.523,14,164,178,0.079,0.921
15,1610612762,Utah Jazz,682.0,423,234,189,73,5,85,206,23,20,43,0.535,0.465,6,165,171,0.035,0.965

In [ ]:
# player hustle stats in the 2019-20 playoffs
player_hustle = leaguehustlestatsplayer.LeagueHustleStatsPlayer(season_type_all_star = 'Playoffs', season='2019-20')
player_hustle.get_data_frames()[0]

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,G,MIN,CONTESTED_SHOTS,CONTESTED_SHOTS_2PT,CONTESTED_SHOTS_3PT,...,PCT_LOOSE_BALLS_RECOVERED_DEF,OFF_BOXOUTS,DEF_BOXOUTS,BOX_OUT_PLAYER_TEAM_REBS,BOX_OUT_PLAYER_REBS,BOX_OUTS,PCT_BOX_OUTS_OFF,PCT_BOX_OUTS_DEF,PCT_BOX_OUTS_TEAM_REB,PCT_BOX_OUTS_REB
0,1628988,Aaron Holiday,1610612754,IND,23.0,4,72.0,18,7,11,...,0.000,0,2,0,0,2,0.000,1.000,0.000,0.000
1,1627846,Abdel Nader,1610612760,OKC,26.0,3,25.0,12,8,4,...,0.000,0,0,0,0,0,0.000,0.000,0.000,0.000
2,201143,Al Horford,1610612755,PHI,34.0,4,128.0,33,20,13,...,0.000,2,20,10,6,22,0.091,0.909,0.667,0.400
3,202692,Alec Burks,1610612755,PHI,28.0,4,95.0,17,7,10,...,0.333,0,1,1,0,1,0.000,1.000,1.000,0.000
4,1627936,Alex Caruso,1610612747,LAL,26.0,21,510.0,96,43,53,...,0.600,1,16,9,0,17,0.059,0.941,1.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,203506,Victor Oladipo,1610612754,IND,28.0,4,123.0,26,8,18,...,0.500,0,2,1,0,2,0.000,1.000,0.500,0.000
213,1629738,Vincent Poirier,1610612738,BOS,26.0,1,2.0,0,0,0,...,0.000,0,0,0,0,0,0.000,0.000,0.000,0.000
214,1629117,Wenyen Gabriel,1610612757,POR,23.0,4,53.0,27,21,6,...,0.500,3,7,4,2,10,0.300,0.700,0.571,0.286
215,1628411,Wes Iwundu,1610612753,ORL,25.0,5,76.0,12,6,6,...,0.000,0,1,0,0,1,0.000,1.000,0.000,0.000
216,202083,Wesley Matthews,1610612749,MIL,33.0,10,246.0,31,12,19,...,0.400,3,20,13,3,23,0.130,0.870,0.722,0.167

In [ ]:
# define function to pull team and player hustle stats from nba_api

def playoffs_hustle_stats(season):

    player_hustle = leaguehustlestatsplayer.LeagueHustleStatsPlayer(season_type_all_star = 'Playoffs', season=season)
    player_hustle = player_hustle.get_data_frames()[0]
    player_hustle['SEASON'] = season

    team_hustle = leaguehustlestatsteam.LeagueHustleStatsTeam(season_type_all_star = 'Playoffs', season=season)
    team_hustle = team_hustle.get_data_frames()[0]
    team_hustle['SEASON'] = season

    return player_hustle, team_hustle

In [ ]:
# pull player and team playoff hustle stats for 2019-20 season
player_hustle_stats, team_hustle_stats = playoffs_hustle_stats(season='2019-20')

In [ ]:
# append player and team hustle stats dataframes with prior playoff seasons
player_hustle_stats = player_hustle_stats.append(playoffs_hustle_stats(season='2018-19')[0])
player_hustle_stats = player_hustle_stats.append(playoffs_hustle_stats(season='2017-18')[0])
player_hustle_stats = player_hustle_stats.append(playoffs_hustle_stats(season='2016-17')[0])
player_hustle_stats = player_hustle_stats.append(playoffs_hustle_stats(season='2015-16')[0])

team_hustle_stats = team_hustle_stats.append(playoffs_hustle_stats(season='2018-19')[1])
team_hustle_stats = team_hustle_stats.append(playoffs_hustle_stats(season='2017-18')[1])
team_hustle_stats = team_hustle_stats.append(playoffs_hustle_stats(season='2016-17')[1])
team_hustle_stats = team_hustle_stats.append(playoffs_hustle_stats(season='2015-16')[1])

In [ ]:
player_hustle_stats

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,G,MIN,CONTESTED_SHOTS,CONTESTED_SHOTS_2PT,CONTESTED_SHOTS_3PT,...,OFF_BOXOUTS,DEF_BOXOUTS,BOX_OUT_PLAYER_TEAM_REBS,BOX_OUT_PLAYER_REBS,BOX_OUTS,PCT_BOX_OUTS_OFF,PCT_BOX_OUTS_DEF,PCT_BOX_OUTS_TEAM_REB,PCT_BOX_OUTS_REB,SEASON
0,1628988,Aaron Holiday,1610612754,IND,23.0,4,72.0,18,7,11,...,0,2,0,0,2,0.000,1.000,0.000,0.0,2019-20
1,1627846,Abdel Nader,1610612760,OKC,26.0,3,25.0,12,8,4,...,0,0,0,0,0,0.000,0.000,0.000,0.0,2019-20
2,201143,Al Horford,1610612755,PHI,34.0,4,128.0,33,20,13,...,2,20,10,6,22,0.091,0.909,0.667,0.4,2019-20
3,202692,Alec Burks,1610612755,PHI,28.0,4,95.0,17,7,10,...,0,1,1,0,1,0.000,1.000,1.000,0.0,2019-20
4,1627936,Alex Caruso,1610612747,LAL,26.0,21,510.0,96,43,53,...,1,16,9,0,17,0.059,0.941,1.000,0.0,2019-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,202325,Wesley Johnson,1610612746,LAC,28.0,6,77.0,21,15,6,...,0,0,0,0,0,0.000,0.000,0.000,0.0,2015-16
211,202083,Wesley Matthews,1610612742,DAL,29.0,5,173.0,61,36,25,...,0,0,0,0,0,0.000,0.000,0.000,0.0,2015-16
212,204098,Xavier Munford,1610612763,MEM,24.0,4,89.0,22,7,15,...,0,0,0,0,0,0.000,0.000,0.000,0.0,2015-16
213,2216,Zach Randolph,1610612763,MEM,34.0,4,120.0,30,29,1,...,0,0,0,0,0,0.000,0.000,0.000,0.0,2015-16
214,2585,Zaza Pachulia,1610612742,DAL,32.0,5,112.0,44,41,3,...,0,0,0,0,0,0.000,0.000,0.000,0.0,2015-16

In [ ]:
team_hustle_stats

,TEAM_ID,TEAM_NAME,MIN,CONTESTED_SHOTS,CONTESTED_SHOTS_2PT,CONTESTED_SHOTS_3PT,DEFLECTIONS,CHARGES_DRAWN,SCREEN_ASSISTS,SCREEN_AST_PTS,...,DEF_LOOSE_BALLS_RECOVERED,LOOSE_BALLS_RECOVERED,PCT_LOOSE_BALLS_RECOVERED_OFF,PCT_LOOSE_BALLS_RECOVERED_DEF,OFF_BOXOUTS,DEF_BOXOUTS,BOX_OUTS,PCT_BOX_OUTS_OFF,PCT_BOX_OUTS_DEF,SEASON
0,1610612738,Boston Celtics,1662.0,1055,570,485,203,11,156,354,...,61,122,0.500,0.500,36,305,341,0.106,0.894,2019-20
1,1610612751,Brooklyn Nets,384.0,266,143,123,45,2,19,41,...,9,24,0.625,0.375,2,46,48,0.042,0.958,2019-20
2,1610612742,Dallas Mavericks,586.0,366,226,140,56,3,69,155,...,19,35,0.457,0.543,9,79,88,0.102,0.898,2019-20
3,1610612743,Denver Nuggets,1834.0,1073,605,468,259,6,181,409,...,50,94,0.468,0.532,25,249,275,0.091,0.905,2019-20
4,1610612745,Houston Rockets,1162.0,608,339,269,159,17,65,162,...,39,71,0.451,0.549,14,232,246,0.057,0.943,2019-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,1610612748,Miami Heat,1374.0,912,679,233,140,14,108,230,...,0,85,0.000,0.000,0,0,0,0.000,0.000,2015-16
12,1610612760,Oklahoma City Thunder,1728.0,1211,872,339,197,4,105,240,...,0,100,0.000,0.000,0,0,0,0.000,0.000,2015-16
13,1610612757,Portland Trail Blazers,1066.0,769,528,241,146,3,90,212,...,0,67,0.000,0.000,0,0,0,0.000,0.000,2015-16
14,1610612759,San Antonio Spurs,960.0,714,565,149,169,8,87,191,...,0,50,0.000,0.000,0,0,0,0.000,0.000,2015-16
15,1610612761,Toronto Raptors,1950.0,1234,875,359,226,9,186,400,...,0,95,0.000,0.000,0,0,0,0.000,0.000,2015-16

In [ ]:
# export player and team hustle stats data to csv files
player_hustle_stats.to_csv("player_hustle_stats.csv", index=False)
team_hustle_stats.to_csv("team_hustle_stats.csv", index=False)

In [ ]:
# get all box scores for teams in the playoffs during those seasons
playoff_team_ids = set(team_hustle_stats['TEAM_ID'])
playoff_team_ids = list(playoff_team_ids)

In [ ]:
def playoff_boxscores(team_id, season):
    gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=team_id, season_type_nullable='Playoffs', season_nullable=season)
    playoff_games = gamefinder.get_data_frames()[0]

    return playoff_games

In [ ]:

playoffs_2019_20 = playoff_boxscores(playoff_team_ids[0],'2019-20')

for i in playoff_team_ids[1:]:
    playoffs_2019_20 = playoffs_2019_20.append(playoff_boxscores(i,'2019-20'))

playoffs_2019_20["SEASON"] = '2019-20'
playoffs_2019_20.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,SEASON
0,42019,1610612738,BOS,Boston Celtics,0041900306,2020-09-27,BOS @ MIA,L,240,113,...,13,29,42,26,7,2,10,21,-12.0,2019-20
1,42019,1610612738,BOS,Boston Celtics,0041900305,2020-09-25,BOS vs. MIA,W,238,121,...,13,37,50,29,7,4,11,23,13.0,2019-20
2,42019,1610612738,BOS,Boston Celtics,0041900304,2020-09-23,BOS @ MIA,L,239,109,...,12,34,46,28,3,5,19,24,0.2,2019-20
3,42019,1610612738,BOS,Boston Celtics,0041900303,2020-09-19,BOS @ MIA,W,240,117,...,10,40,50,27,8,3,14,29,8.4,2019-20
4,42019,1610612738,BOS,Boston Celtics,0041900302,2020-09-17,BOS vs. MIA,L,240,101,...,6,35,41,19,5,3,20,22,-5.0,2019-20

In [ ]:
playoffs_2018_19 = playoff_boxscores(playoff_team_ids[0],'2018-19')

for i in playoff_team_ids[1:]:
    playoffs_2018_19 = playoffs_2018_19.append(playoff_boxscores(i,'2018-19'))

playoffs_2018_19["SEASON"] = '2018-19'
playoffs_2018_19.head()

ReadTimeout: HTTPSConnectionPool(host='stats.nba.com', port=443): Read timed out. (read timeout=30)

In [ ]:
playoffs_2017_18 = playoff_boxscores(playoff_team_ids[0],'2017-18')

for i in playoff_team_ids[1:]:
    playoffs_2017_18 = playoffs_2017_18.append(playoff_boxscores(i,'2017-18'))

playoffs_2017_18["SEASON"] = '2017-18'
playoffs_2017_18.head()

In [ ]:
playoffs_2016_17 = playoff_boxscores(playoff_team_ids[0],'2016-17')

for i in playoff_team_ids[1:]:
    playoffs_2016_17 = playoffs_2016_17.append(playoff_boxscores(i,'2016-17'))

playoffs_2016_17["SEASON"] = '2016-17'
playoffs_2016_17.head()

In [ ]:
playoffs_2015_16 = playoff_boxscores(playoff_team_ids[0],'2015-16')

for i in playoff_team_ids[1:]:
    playoffs_2015_16 = playoffs_2015_16.append(playoff_boxscores(i,'2015-16'))

playoffs_2015_16["SEASON"] = '2015-16'
playoffs_2015_16.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,SEASON
0,42015,1610612737,ATL,Atlanta Hawks,0041500204,2016-05-08,ATL vs. CLE,L,239,99,...,9,33,42,22,10,7,12,16,-1.0,2015-16
1,42015,1610612737,ATL,Atlanta Hawks,0041500203,2016-05-06,ATL vs. CLE,L,239,108,...,6,22,28,29,8,7,14,21,-13.0,2015-16
2,42015,1610612737,ATL,Atlanta Hawks,0041500202,2016-05-04,ATL @ CLE,L,241,98,...,8,32,40,18,3,3,16,23,-25.0,2015-16
3,42015,1610612737,ATL,Atlanta Hawks,0041500201,2016-05-02,ATL @ CLE,L,242,93,...,15,33,48,21,6,7,12,22,-11.0,2015-16
4,42015,1610612737,ATL,Atlanta Hawks,0041500136,2016-04-28,ATL @ BOS,W,241,104,...,3,39,42,26,6,12,18,23,12.0,2015-16

In [ ]:
# merge playoff boxscore dataframes
all_boxscores = playoffs_2019_20.append(playoffs_2018_19).append(playoffs_2017_18).append(playoffs_2016_17).append(playoffs_2015_16).reset_index(drop=True)
all_boxscores.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,SEASON
0,42019,1610612738,BOS,Boston Celtics,0041900306,2020-09-27,BOS @ MIA,L,240,113,...,13,29,42,26,7,2,10,21,-12.0,2019-20
1,42019,1610612738,BOS,Boston Celtics,0041900305,2020-09-25,BOS vs. MIA,W,238,121,...,13,37,50,29,7,4,11,23,13.0,2019-20
2,42019,1610612738,BOS,Boston Celtics,0041900304,2020-09-23,BOS @ MIA,L,239,109,...,12,34,46,28,3,5,19,24,0.2,2019-20
3,42019,1610612738,BOS,Boston Celtics,0041900303,2020-09-19,BOS @ MIA,W,240,117,...,10,40,50,27,8,3,14,29,8.4,2019-20
4,42019,1610612738,BOS,Boston Celtics,0041900302,2020-09-17,BOS vs. MIA,L,240,101,...,6,35,41,19,5,3,20,22,-5.0,2019-20

In [ ]:
# export all_boxscores to csv file
all_boxscores.to_csv("playoff_boxscores.csv", index=False)

In [ ]:
# etract GAME_ID from all_boxscores
game_ids = list(set(all_boxscores['GAME_ID']))

In [ ]:
# get boxscore hustle stats by player and team

box_hustle = hustlestatsboxscore.HustleStatsBoxScore(game_id=game_ids[0])
player_box_hustle = box_hustle.get_data_frames()[1]
team_box_hustle = box_hustle.get_data_frames()[2]

for i in game_ids[1:]:
    box_hustle = hustlestatsboxscore.HustleStatsBoxScore(game_id=i)
    player_box_hustle = player_box_hustle.append(box_hustle.get_data_frames()[1])
    team_box_hustle = team_box_hustle.append(box_hustle.get_data_frames()[2])

In [ ]:
player_box_hustle.describe()

,TEAM_ID,PLAYER_ID,PTS,CONTESTED_SHOTS,CONTESTED_SHOTS_2PT,CONTESTED_SHOTS_3PT,DEFLECTIONS,CHARGES_DRAWN,SCREEN_ASSISTS,SCREEN_AST_PTS,OFF_LOOSE_BALLS_RECOVERED,DEF_LOOSE_BALLS_RECOVERED,LOOSE_BALLS_RECOVERED,OFF_BOXOUTS,DEF_BOXOUTS,BOX_OUT_PLAYER_TEAM_REBS,BOX_OUT_PLAYER_REBS,BOX_OUTS
count,8.821000e+03,8.821000e+03,8821.000000,8821.000000,8821.000000,8821.000000,8821.000000,8821.000000,8821.000000,8821.000000,8821.000000,8821.000000,8821.000000,8821.000000,8821.000000,8821.000000,8821.000000,8821.000000
mean,1.610613e+09,5.121612e+05,9.851944,5.727242,3.567396,2.159846,1.268790,0.054869,0.803877,1.856932,0.219590,0.258474,0.800249,0.168802,1.257794,0.727695,0.239655,1.426822
std,8.702496e+00,6.266054e+05,9.176653,4.489238,3.461764,2.029729,1.523128,0.254538,1.450651,3.343411,0.550577,0.620025,1.106876,0.611460,2.354322,1.496175,0.695741,2.677953
min,1.610613e+09,1.495000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.610613e+09,2.015660e+05,3.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.610613e+09,2.027040e+05,8.000000,5.000000,3.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.610613e+09,2.039990e+05,15.000000,8.000000,5.000000,3.000000,2.000000,0.000000,1.000000,3.000000,0.000000,0.000000,1.000000,0.000000,2.000000,1.000000,0.000000,2.000000
max,1.610613e+09,1.629752e+06,57.000000,36.000000,34.000000,15.000000,12.000000,5.000000,16.000000,36.000000,5.000000,6.000000,8.000000,10.000000,22.000000,15.000000,10.000000,25.000000

In [ ]:
# export team_box_hustle dataframe to csv file
player_box_hustle.to_csv("player_box_hustle.csv", index=False)

In [ ]:
team_box_hustle.describe()

,TEAM_ID,PTS,CONTESTED_SHOTS,CONTESTED_SHOTS_2PT,CONTESTED_SHOTS_3PT,DEFLECTIONS,CHARGES_DRAWN,SCREEN_ASSISTS,SCREEN_AST_PTS,OFF_LOOSE_BALLS_RECOVERED,DEF_LOOSE_BALLS_RECOVERED,LOOSE_BALLS_RECOVERED,OFF_BOXOUTS,DEF_BOXOUTS,BOX_OUT_PLAYER_TEAM_REBS,BOX_OUT_PLAYER_REBS,BOX_OUTS
count,8.240000e+02,824.000000,824.000000,824.000000,824.000000,824.000000,824.000000,824.000000,824.000000,824.000000,824.000000,824.000000,824.000000,824.000000,824.000000,824.000000,824.000000
mean,1.610613e+09,105.466019,61.310680,38.189320,23.121359,13.582524,0.587379,8.605583,19.878641,2.350728,2.766990,8.566748,1.807039,13.464806,7.790049,2.565534,15.274272
std,8.701865e+00,12.746955,11.437955,10.454697,6.832830,4.667614,0.823197,4.264752,9.900837,2.580806,3.112563,4.419707,2.650642,13.609507,8.288735,3.033323,15.428431
min,1.610613e+09,68.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.610613e+09,97.000000,55.000000,31.000000,18.000000,10.000000,0.000000,6.000000,13.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.610613e+09,105.000000,61.000000,38.000000,23.000000,13.000000,0.000000,8.000000,18.500000,2.000000,2.000000,8.000000,0.500000,12.000000,7.000000,2.000000,14.000000
75%,1.610613e+09,114.000000,67.000000,44.000000,28.000000,16.000000,1.000000,11.000000,26.000000,4.000000,5.000000,11.000000,3.000000,23.000000,14.000000,5.000000,26.000000
max,1.610613e+09,154.000000,138.000000,105.000000,52.000000,37.000000,5.000000,25.000000,60.000000,11.000000,17.000000,25.000000,17.000000,57.000000,34.000000,13.000000,66.000000

In [ ]:
# export team_box_hustle dataframe to csv file
team_box_hustle.to_csv("team_box_hustle.csv", index=False)